/*            MAIN              */
html,body, ul {
	margin:0;
	padding:0;
	height:120%;
}
body.khBody{
	background: url("../assets/countryImages/KH/6.jpg") fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.plBody{
	background: url('../assets/countryImages/PL/4.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.frBody{
	background: url('../assets/countryImages/FR/1.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.qaBody{
	background: url('../assets/countryImages/QA/1.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.myBody{
	background: url('../assets/countryImages/MY/11.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.esBody{
	background: url('../assets/countryImages/ES/1.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.benlBody{
	background: url('../assets/countryImages/BENL/1.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.deBody{
	background: url('../assets/countryImages/DE/1.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.czBody{
	background: url('../assets/countryImages/CZ/8.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.ukBody{
	background: url('../assets/countryImages/UK/5.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.uaBody{
	background: url('../assets/countryImages/UA/2.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.alBody{
	background: url('../assets/countryImages/AL/10.jpg') fixed left bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
body.nwBody{
	background: url('../assets/countryImages/NW/4.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body.irBody{
	background: url('../assets/countryImages/IR/4.jpg') fixed right top;
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	height:100%;
	background-color: #efdddc;
}
.arrow_div{
  padding-top: 3%;
  padding-left: 3%;
  float: left;
  z-index: 5;
}
.arrow{
    width: 50px;
    height: auto;
}
.main-div{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
}
.main-div-pl{
	background-color: rgba(226, 205, 204, 0.8);
}
.main-div-kh{
	background-color: rgba(204, 191, 163, 0.8);
}
.main-div-fr{
	background-color: rgba(175, 205, 222, 0.8);
}
.main-div-qa{
	background-color: rgba(214, 201, 207, 0.8);
}
.main-div-my{
	background-color: rgba(224, 220, 177, 0.8);
}
.main-div-es{
	background-color: rgba(224, 220, 177, 0.8);
}
.main-div-benl{
	background-color: rgba(195, 220, 222, 0.8);
}
.main-div-de{
	background-color: rgba(28, 28, 28, 0.8);
}
.main-div-cz{
	background-color: rgba(190, 226, 230, 0.8);
}
.main-div-uk{
	background-color: rgba(226, 205, 204, 0.8);
}
.main-div-ua{
	background-color: rgba(224, 220, 177, 0.8);
}
.main-div-al{
	background-color: rgba(249, 167, 167, 0.75);
}
.main-div-nw{
	background-color: rgba(161, 138, 138, 0.75);
}
.main-div-ir{
	background-color: rgba(187, 240, 199, 0.75);
}
.main-div h1{
	text-align: center;
	color: #333333;
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 80px;
	margin-top: 10px;
}
.main-div p{
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 20px;
	margin: 30px;
}
.main-div-de h1, .main-div-de p{
	color: #ffffff;
}
.flag{
  width: 40px;
  height: auto;
}
.date{
	font-family: 'Sue Ellen Francisco', Arial, sans-serif;
	font-size: 25px;
}
.docs-pictures {
  margin: 0;
  padding: 0;
  list-style: none;
}
.docs-pictures > li {
  float: left;
  width: 20%;
  margin: 0 -1px -1px 0;
  border: 1px solid transparent;
  overflow: hidden;
	padding: 10px;
}

.docs-pictures > li > img {
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.docs-galley{
	position: relative;
	left: 50%;
	transform: translateX(-43%);
}



@media screen and (max-width: 700px) {
	.docs-pictures > li {
	  float: none;
	  width: 80%;
	}
}
@media screen and (max-width: 840px) {
	.arrow_div{
		padding-top: 5%;
		padding-left: 45%;
	  float: none;
	}
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
	.docs-pictures > li {
	  float: left;
	  width: 40%;
	}
}
