/*            MAIN              */
html,body, ul {
	margin:0;
	padding:0;
}
body{
  background: #ffffff;
}
.main{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
}
.image-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  z-index: 0;
}
#main-quote-img{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  top:40%;
  z-index: 5;
  width: 60%;
  text-align: center;
}
.flag{
  width: 40px;
  height: auto;
}
.countries{
	margin-top: 150px;
	margin-bottom: 100px;
}
.country{
	color: #ffffff;
	position: relative;
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 80px;
	width: 90%;
	height: 250px;
	left:50%;
	transform: translateX(-50%);
	display: flex;
  justify-content: center;
  align-items: center;
	margin-bottom:20px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.noDeco{
	text-decoration: none;
}
.last_country{
	margin-bottom:80px;
}
.cambodia{
	background-image: url('../assets/countryImages/KH/4s.jpg');
}
.spain{
	background-image: url('../assets/countryImages/ES/4s.jpg');
}
.malaysia{
	background-image: url('../assets/countryImages/MY/10s.jpg');
}
.czech{
	background-image: url('../assets/countryImages/CZ/1s.jpg');
}
.qatar{
	background-image: url('../assets/countryImages/QA/1s.jpg');
}
.poland{
	background-image: url('../assets/countryImages/PL/3s.jpg');
}
.britain{
	background-image: url('../assets/countryImages/UK/7s.jpg');
}
.france{
	background-image: url('../assets/countryImages/FR/1.jpg');
	background-size:100% 100%;
}
.germany{
	background-image: url('../assets/countryImages/DE/1s.jpg');
}
.low{
	background-image: url('../assets/countryImages/BENL/1s.jpg');
}
.ukraine{
	background-image: url('../assets/countryImages/UA/4s.jpg');
}
.albania{
	background-image: url('../assets/countryImages/AL/10s.jpg');
}
.norway{
	background-image: url('../assets/countryImages/NW/4s.jpg');
}
.ireland{
	background-image: url('../assets/countryImages/IR/4s.jpg');
}



/*         Map section        */
.map-wrapper{
	display: none;
}
.map-section{
	position: absolute;
	background-image: linear-gradient(#b1c0e0, #e1e7f4, #e1e7f4, white);
	z-index: -5;
	width: 100%;
	padding-bottom: 10px;
	overflow: hidden;
}
.map-title{
	position: absolute;
	z-index: -4;
	font-family: 'Open Sans Condensed', 'Montserrat', Arial, sans-serif;
	font-size: 50px;
	color: #42433C;
	width: 96vw;
	text-align: center;
}
.subunit {
		fill: none;
		stroke: #fff;
		stroke-width: 1px;
}
text.subunit-label {
		font-family: 'Montserrat', Arial, sans-serif;
		font-size: 23px;
		text-anchor: middle;
		fill: #787a6d;
}
.subunit-label {
		display: none;
}
.graticule {
		display: none;
}
svg{
	z-index: 15;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 130px;
	margin-bottom: -250px;
}
.legend{
	position: absolute;
	bottom: 10%;
	right: 20%;
	z-index: 20;
}
.legend p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 17px;
	color: #787a6d;
	padding-left: 10px;
	margin-top: 7px;
	float: right;
}
.legend .square{
		display: table;
    width: 35px;
    height: 35px;
		background: #3b598a;
		float: left;
}
.footer{
	position: absolute;
	bottom: 3%;
	left:50%;
	transform: translateX(-50%);
	z-index: 20;
}
.footer p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 17px;
	color: #787a6d;
	padding-left: 10px;
	margin-top: 7px;
	float: right;
}

@media screen and (max-width: 1300px) {
	path{
		transform-origin: 50% 50%;
		transform: scale(0.8);
	}
}
@media screen and (max-width: 1000px) {
	path{
		transform-origin: 50% 50%;
		transform: scale(0.6);
	}
	svg{
		margin-top: 0px;
	}
	svg text{
		transform: translate(50%, 100px);
	}
	.legend{
		bottom: 5%;
	}
	.legend p{
		font-size: 15px;
		padding-left: 10px;
	}
	.footer{
		bottom: 1%;
	}
}
@media screen and (max-width: 840px) {
  .main-Title{
    width: 80%;
  }
	.refresh{
	    bottom: 10px;
	}
	.arrow_div{
	  padding-left: 5%;
	}
}
@media screen and (max-width: 760px) {
	path{
		transform-origin: 50% 50%;
		transform: scale(0.5);
	}
	svg{
		margin-top: 0px;
	}
	svg text{
		transform: translate(50%, 250px);
	}
}
@media screen and (max-width: 650px) {
	svg{
		display: none;
	}
	.legend{
		display: none;
	}
	.map{
		display: none;
	}
}
@media screen and (min-width: 650px) {
	.journal{
		display: none;
	}
	.countries{
		display: none;
	}
}
